* {
    font-family: sans-serif;
    box-sizing: border-box;
  }
  
  header {
    background-color: black;
    color: white;
    padding: 1em;
    margin: 1em 0;
    border-radius: 5px;
  }

  main {
    margin-left: 3em;
    margin-right: 3em;
  }

  Footer {
    margin-left: 3em;
    margin-right: 3em;
  }

  .title {
    text-align: center;
    font-size: 2em;
    font-weight: bold;
  }

  .heading {
    text-decoration: underline black;
  }

  .column {
    flex:2;
  }

.left_half {
    background-color: black;
    color: white;
    border: solid 4em black;
}

  .lovenotes {
    font-size: 5em;
    line-height: 90%;
  }
  
  .introduction {
    line-height: 120%;
  }
  
  .row {
    display: flex;
  }
  
  .right_half {
    border: solid 4em white;
  }

  .right_half_title {
    font-size: 2em;
    font-weight: bold;
  }

  input[type="text"] {
    width: 200px;
}

@media (max-width: 768px) {
    .hide-on-mobile {
      display: none;
    }
  }