.body {
  font-family: sans-serif;
  box-sizing: border-box;
}
 
*{
    background-color: white;
    font-family: sans-serif;
    text-align: left;
  }
  
  .header_text {
    width: 100vmax;
    background-color: black;
    color: white;
    padding: 1em;
    margin: 1em 0;
    text-indent: 1em;
  }

  main {
  }

  Footer {
    background-color: white;
    color: black;
    margin-left: 3em;
    margin-right: 3em;
  }

  .title {
    text-align: center;
    font-size: 2em;
    font-weight: bold;
  }

  .heading {
    text-indent: 3em;
    text-decoration: underline black;
  }

  .column {
    flex:2;
  }

.left_half {
    background-color: black;
    color: white;
    border: solid 4em black;
}

  .lovenotes {
    background-color: black;
    text-align: left;
    font-size: 5em;
    line-height: 90%;
  }
  
  .introduction {
    background-color: black;
    text-align: left;
    line-height: 120%;
  }
  
  .row {
    display: flex;
  }
  
  .right_half {
    background-color: white;
    border: solid 4em white;
  }

  .right_half_title {
    font-size: 2em;
    font-weight: bold;
  }

@media (max-width: 768px) {
    .hide-on-mobile {
      display: none;
    }
  }

  .love_notes_jpg {
    width: fit-content;
    padding: 0.5em;
    background: gray;
  }
  
  menu {
    text-indent: 1em;
    justify-items: left;
  }
  
  .navbar-brand {
    padding-left: 0.3em;
    border-bottom: solid rgb(182, 182, 182) thin;
  }
  
  menu .nav-item {
    padding: 0 0.3em;
  }

  .body_items {
    text-indent: 3em;
    width: 100%;
  }

  .name_box {
    /* text-indent: 2em; */
    width: 109%;
  }
